.datepickerstyle {
    float: left;
}

.form-group .field .field-string label[for="root_workspace"] {
    display: none;
}

.form-group .field .field-string label[for="root_identifiers"] {
    display: none;
}

.form-group .field .field-string input[id="root_identifiers"] {
    display: none;
}

.form-group .field .field-string select[id="root_workspace"] {
    display: none;
}

.form-group .field .field-array select[id="root_tags"] {
    display: none;
}

.form-group .field .field-array label[for="root_tags"] {
    display: none;
}

legend[id="root__title"] {
    display: none;
}

input#root_Reference {
    display: none;
}

label.control-label {
    float: left;
}

.filemargin {
    margin-left: 10px;
}