.ant-picker.ant-picker-range {
    float: left;
    width: -webkit-fill-available;
}

button.ant-switch,
.floatClass,
.addCategory {
    float: right;
}

tr.ant-table-row.ant-table-row {
    cursor: pointer;
}

span.anticon.anticon-minus-circle {
    margin-bottom: 26px;
    margin-left: 6px;
    margin-top: 10px;
}

.marginForm {
    margin-top: 25px;
}

.ant-table.ant-table-bordered>.ant-table-title {
    border-bottom: 0;
    float: left;
    border: none;
}

span.ant-input-group-wrapper.ant-input-group-wrapper-lg.ant-input-search.ant-input-search-large.ant-input-search-with-button {
    width: 600px;
}

.ant-radio-group.ant-radio-group-outline {
    margin-left: 5px;
}

.ant-modal-content {
    border-radius: 7px !important;
}

.modelTitle {
    text-align: center;
}

.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

form#basic {
    background-color: white;
    padding-bottom: 80px;
    padding-top: 45px;
    border-radius: 7px;
}

.ant-modal-header {
    display: none;
}

.widthclass {
    width: auto !important;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ant-picker-calendar.ant-picker-calendar-full {
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.iconSize {
    font-size: 25px;
    margin-bottom: 10px;
}

.ant-card.ant-card-hoverable {
    border-radius: 5px;
}

.location {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.site-page-header-ghost-wrapper {
    padding: 50px;
    background-color: #f5f5f5;
    margin-left: -65px !important;
}

.cardStripe {
    margin-bottom: 10px;
}

.cardStripeText {
    margin-left: 5px;
    cursor: pointer;
}

.searchbar {
    margin-bottom: 10px;
    margin-top: 30px;
}

span.anticon.anticon-close-circle {
    color: #ff4141;
}

.site-page-header-ghost-wrapper {
    margin-left: -24px !important;
    padding: 24px px;
    background-color: #f5f5f5;
}

.searchAlign {
    width: 100%;
    text-align: center;
}

.menuPosition {
    float: right !important;
    color: brown !important;
}

.layoutColor {
    background-color: white !important;
    padding-left: 63px;
    padding-right: 65px;
}

.events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-month {
    font-size: 28px;
    text-align: center;
}

.collectionsInline {
    display: inline;
    margin-right: 40px;
}

.notes-month section {
    font-size: 28px;
}